In [16]:
import pandas as pd
import matplotlib.pyplot as plt

In [20]:
df = pd.read_csv("/Users/ryantang/Desktop/Course Scheduling STEM project 2023.xlsx - fall co enrolment data.csv")
df

   Combination: Unnamed: 1  Fall 2022  Fall 2021  Fall 2019
0       BIO 105   PHYS 110          1          0          0
1       BIO 105   MATH 120          2          2          0
2       BIO 105  MATH 110           1          2          2
3       BIO 105   CHEM 120          2          2          2
4       BIO 105   CHEM 130          0          1          0
5       BIO 105    BIO 130          1          1          1
6       BIO 105   MATH 114          0          0          1
7       BIO 115   CHEM 120          3          5         13
8       BIO 115  CHEM 130           0          0          2
9       BIO 115  MATH 110           1          1          1
10      BIO 115   MATH 114          2          0          2
11      BIO 115   MATH 120          0          0          2
12      BIO 115   MATH 128          0          0          2
13      BIO 115   PHYS 110          0          0          1
14      BIO 115  PHYS 230           0          0          1
15     BIO 130    CHEM 120          3          2          4
16     BIO 130    CHEM 130          1          0          0
17     BIO 130   MATH 110           0          0          4
18     BIO 130    MATH 120          4          1          1
19     BIO 130    MATH 128          0          0          1
20    CHEM 120   MATH 110           8         15         11
21    CHEM 120    MATH 120          4          2          6
22    CHEM 120   MATH 114           4          0         11
23    CHEM 120    MATH 128          0          0          3
24    CHEM 120    PHYS 110          2          0          1
25     CHEM 130  MATH 110           2          1          2
26     CHEM 130   MATH 114          1          0          0
27     CHEM 130   MATH 120          0          1          2
28     CHEM 130   MATH 128          0          0          3
29     CHEM 130   PHYS 110          1          0          1
30     CHEM 130  PHYS 230           0          0          3
31     MATH 110   PHYS 110          6          4          7
32     MATH 120   PHYS 110          3          2          3
33     MATH 120   PHYS 115          1          1          1
34     MATH 114   PHYS 110          5          3          3
35     MATH 128   PHYS 110          0          0          2
36     MATH 128   PHYS 115          0          0          1

In [38]:
ranking = {}

for i in range(37):
    mean = (df.iloc[i,2] + df.iloc[i,3] + df.iloc[i,4]) / 3
    ranking[df.iloc[i,0] + ' ' + df.iloc [i,1]] = mean

sortedranking = sorted(ranking.items(), key=lambda x:x[1], reverse=True)
print(sortedranking)

[('CHEM 120  MATH 110 ', 11.333333333333334), ('BIO 115 CHEM 120', 7.0), ('MATH 110 PHYS 110', 5.666666666666667), ('CHEM 120  MATH 114 ', 5.0), ('CHEM 120  MATH 120', 4.0), ('MATH 114 PHYS 110', 3.6666666666666665), ('BIO 130  CHEM 120', 3.0), ('MATH 120 PHYS 110', 2.6666666666666665), ('BIO 105 CHEM 120', 2.0), ('BIO 130  MATH 120', 2.0), ('BIO 105 MATH 110 ', 1.6666666666666667), ('CHEM 130 MATH 110 ', 1.6666666666666667), ('BIO 105 MATH 120', 1.3333333333333333), ('BIO 115 MATH 114', 1.3333333333333333), ('BIO 130  MATH 110 ', 1.3333333333333333), ('BIO 105 BIO 130', 1.0), ('BIO 115 MATH 110 ', 1.0), ('CHEM 120  MATH 128', 1.0), ('CHEM 120  PHYS 110', 1.0), ('CHEM 130 MATH 120', 1.0), ('CHEM 130 MATH 128', 1.0), ('CHEM 130 PHYS 230 ', 1.0), ('MATH 120 PHYS 115', 1.0), ('BIO 115 CHEM 130 ', 0.6666666666666666), ('BIO 115 MATH 120', 0.6666666666666666), ('BIO 115 MATH 128', 0.6666666666666666), ('CHEM 130 PHYS 110', 0.6666666666666666), ('MATH 128 PHYS 110', 0.6666666666666666), ('BIO 105 PHYS 110', 0.3333333333333333), ('BIO 105 CHEM 130', 0.3333333333333333), ('BIO 105 MATH 114', 0.3333333333333333), ('BIO 115 PHYS 110', 0.3333333333333333), ('BIO 115 PHYS 230 ', 0.3333333333333333), ('BIO 130  CHEM 130', 0.3333333333333333), ('BIO 130  MATH 128', 0.3333333333333333), ('CHEM 130 MATH 114', 0.3333333333333333), ('MATH 128 PHYS 115', 0.3333333333333333)]